@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
body {
    width: 99vw;
    height: 99vh;
    max-width: 99vw;
    max-height: 99vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content) 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    animation: changeColour 5s infinite ease-in-out;

} 
header {
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: header;
}
header button {
    font-weight: bold;
    height: 100%;
    border-radius: 50%;
    border: 1px dotted black;
}
main {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    grid-area: main;
}
main button {
    width: 10%;
    border-radius: 50%;
    border: 1px dotted black;
    font-weight: bold;
    font-size: 200%;
    height: 20%;
}
footer {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    grid-area: footer;
}
footer button {
    border-radius: 10%;
    height: 25%;
}
@keyframes changeColour {
    0%, 100% {
        background: sienna;
    }
    50% {
        background: chocolate;
    }
}